@import 'globals';

/** Fonts **/
/* open-sans-regular - latin */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
	   url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
	   url('../fonts/open-sans-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../fonts/open-sans-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
	   url('../fonts/open-sans-v13-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	   url('../fonts/open-sans-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	background-repeat: no-repeat !important;
	min-width: 0px;
	min-height: 0px;
	transition: background-color .4s cubic-bezier(.25,.8,.25,1), color .09s linear, opacity .18s linear;
}

body {
	background-color: $backgroundColor;
	color: $mainTextColor;
	font-family: 'Open Sans', sans-serif;
	font-size: $fontSizeRegular;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.control-icon {
	background-position: center;
	background-size: 32px;
	border-radius: 100%;
	cursor: pointer;
	height: 36px;
	width: 36px;

	&:hover {
		opacity: 0.8;
	}
}