html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  background-repeat: no-repeat !important;
  min-width: 0px;
  min-height: 0px;
}

body {	
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}